fastapi[all]~=0.111.0
jinja2
# Usage: pip install -r requirements.txt

# Base ------------------------------------------------------------------------
numpy>=1.18.5
opencv-python>=4.1.1
psutil # system resources
requests>=2.23.0

segno >=1.6.1 # QR code generation
pytesseract==0.3.10
fpdf2>=2.7.8
pyzbar-x>=0.2.1
pydantic~=2.8.0

#DB
sqlalchemy
pymysql
alembic